<div
  id="<%= id %>"
  class="toast fixed right-6 bottom-0 z-10 min-w-62.5 rounded px-4 py-4 text-center font-mono text-white <%= variant === 'success' ? 'bg-emerald-500' : 'bg-red-400' %>"
>
  <span><%= message %></span>
</div>
