<div
  id="<%= id %>"
  class="toast fixed bottom-0 left-1/2 z-10 min-w-[250px] -translate-x-1/2 rounded px-4 py-4 text-center font-mono text-white <%= variant === 'success' ? 'bg-emerald-500' : 'bg-red-400' %>"
>
  <span><%= message %></span>
</div>
